In [3]:
import pandas as pd

path = "../data/wikidata_deezer_spotify_youtube.csv"
df = pd.read_csv(path)
df.head(5)

,label,wikidata,deezer,spotify,youtube
0,Ella Fitzgerald,http://www.wikidata.org/entity/Q1768,3280,5V0MlUE1Bft0mbLlND7FJz,UC63nGmKVdVhiZr_bWhJVGGg
1,Q2831,http://www.wikidata.org/entity/Q2831,259,3fMbdgg4jU18AjLCKBhRSm,UC5OrDvL9DscpcAstz7JnQGA
2,O-Zone,http://www.wikidata.org/entity/Q4562,22,5M5PjPSiKeXynM6Ohu350r,UCqtN1Za8PlGegygC2t0C0GA
3,O-Zone,http://www.wikidata.org/entity/Q4562,22,5M5PjPSiKeXynM6Ohu350r,UCMLsQRDF0nC-i7fJib5QNjA
4,Céline Dion,http://www.wikidata.org/entity/Q5105,198,4S9EykWXhStSc15wEx8QFK,UCh6C5LG14uZKmwCgGxf-nDQ

In [2]:
df.describe()

,label,wikidata,deezer,spotify,youtube
count,37226,37226,37226,32391,19496
unique,31924,32011,32780,28231,17395
top,Camerata Orchestre,http://www.wikidata.org/entity/Q61959089,5080,3huVQoEWdqUTvlYpFVUHcF,UCEnDTrc82S5N76hXAcza0tg
freq,210,210,72,72,42

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37226 entries, 0 to 37225
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   label     37226 non-null  object
 1   wikidata  37226 non-null  object
 2   deezer    37226 non-null  object
 3   spotify   32391 non-null  object
 4   youtube   19496 non-null  object
dtypes: object(5)
memory usage: 1.4+ MB